/* ------------ ######################################################### ----------- */
/* 
/* MEPIS 8.0 USER'S MANUAL 
/* STYLE SHEET 2.2
/* copyleft 2009-01-27  by SilverBear
/*
/* ------------ ######################################################### ----------- */
/*
/* 
/* -- CSS template contents: .................................... line 010   ----- */
/* -- 01: PAGE LEVEL FORMATS: ................................... line 040   ----- */
/* -- 02: COLUMN DIV FORMATS: ................................... line 050   ----- */
/* ----- 02.1: Nav column div formatting ........................... line 052   -- */
/* ----- 02.2: Text column div formatting .......................... line 113   -- */
/* -- 03: TEXT COLUMN TEXT FORMATS: ............................. line 129   ----- */
/* ----- 03.1:  Headlines .......................................... line 131   -- */
/* ----- 03.2:  Paragraphs ......................................... line 190   -- */
/* ----- 03.3:  Preformatted text .................................. line 221   -- */
/* ----- 03.4:  Text special FX .................................... line 235   -- */
/* ----- 03.5:  Text column ordered lists .......................... line 259   -- */
/* ----- 03.6:  Text column unordered lists ........................ line 268   -- */
/* ----- 03.7:  Text column nested lists ........................... line 277   -- */
/* ----- 03.8:  Table formatting ................................... line 294   -- */
/* ----- 03.9:  General text link formatting ....................... line 340   -- */
/* -- 04: NAV COLUMN CONTENT FORMATS: ........................... line 363   ----- */
/* ----- 04.1:  Nav headline formatting............................. line 365   -- */
/* ----- 04.2:  Navigation Menu List with hover mechanism........... line 379   -- */
/* ----- 04.3:  Navcol Text below the menu.......................... line 658   -- */
/* -- 05: TEXT COLUMN MISC. FORMATS: ............................ line 695   ----- */
/* ----- 05.1:  General image formatting ........................... line 697   -- */
/* ----- 05.2:  General link formatting-............................ line 703   -- */
/* ----- 05.3:  Misc class formatting .............................. line 729   -- */
/* ----- 05.4:  Misc. Link formatting .............................. line 745   -- */
/* -- 06: TEXT COLUMN NAVI. FOOTER: ............................. line 759   ----- */
/* -- GPL notice for this .css: ................................. line 786   ----- */
/*
/*
/*
/*
/* ------- ******************* 01: PAGE LEVEL FORMATS ******************* --------- */  
/* ----------------  determines characteristics of entire page ------------------ */  
body {
  font-family:  sans-serif;
  font-size: 100%; 
  text-align :center;
  color : #000;
  background-color: #fff;
}
/* ----------------------- END PAGE LEVEL FORMATS ---------------------- */  
/* ------- ******************* 02: COLUMN DIV FORMATS ******************* --------- */  
/* -------determines characteristics of the columns on the page --------- */  
/* -------########### 02.1: Nav column div formatting-------------- */  
div.navcol {
  position : fixed;
  display : block;
  height : 100%;
  top: 0px;
  left : 0px;
  padding : 0 0 0 0 ;
  width : 250px;
  font-family: "Verdana", "Bitstream Vera Sans", "Arial","Helvetica", sans-serif;
  font-size: 100%; 
  background-image: url("../grafx/bg-navcol.png");
  color : black;
 }
div.navcol0 {
  list-style-type : none; 
  display : block;
  position : relative;
  width : 260px;
  text-align : center;
  text-decoration : none;
  font-family : "Verdana", "Bitstream Vera Sans", "Arial","Helvetica", sans-serif;
  color : #069;
  background-color : transparent;
  border: none;
  margin: 0px 0px 0px -2px ;
  padding : 0px 0px 0px 0px;
  font-size: 100%; 
}
div.navcol1 {
  list-style-type : none; 
  display : block;
  position : relative;
  width : 260px;
  text-align : left;
  text-decoration : none;
  font-family : "Verdana", "Bitstream Vera Sans", "Arial","Helvetica", sans-serif;
  color : #069;
  background-color : transparent;
  border: none;
  margin : 6px 0px 0px 6px;
  padding : 0px 0px 0px 0px;
  font-size: 16px; 
}
div.navcol2 {
  list-style-type : none; 
  display : block;
  position :relative;
  width : 250px;
  text-align : left;
  text-decoration : none;
  font-family : "Verdana", "Bitstream Vera Sans", "Arial","Helvetica", sans-serif;
  line-height : 20px;
  color : #069;
  background-color : transparent;
  border: none;
  margin : 0px 0px 0px 28px;
  padding : 0px 0px 0px 0px;
  font-size: 12px; 
}
/* ------------ end nav column div formatting-------------- */  
/* -------########### 02.2 Text column div formatting-------------- */  
div.textcol {
  position: absolute;
  display: block;
  top : 0px;
  margin : 0px 0px 0px 0px;
  padding : 0px 0px 0px 260px;
  float: left;
  max-width: 750px;
  font-family: "Verdana", "Bitstream Vera Sans", "Arial","Helvetica", sans-serif;
  font-size: 16px; 
  color : black;
  border-right: medium solid  #003366;
}
/* ------------ end text column formatting-------------- */   
/* -------------------------------- END COLUMN DIV FORMATS ----------------------- */
/* ------- ################### 03: TEXT COLUMN TEXT FORMATS ################### --------- */ 
/* ---------------------------  determines style of elements in the text column --------- */
/* -------########### 03.1  headline formatting-------------- */ 
h1,h2,h3,h4,h5,h6 {
	font-weight : bold;
	font-family : "Verdana", "Bitstream Vera Sans", "Arial","Helvetica", sans-serif; 
	margin-top: 0px ; /* this must be 0 to fix a firefox css issue with this layout */
	color:#036;
	margin: 0px 0px 6px 0px;
	padding: 0px 0px 3px 0px;
}
h1 {
  background-image: url("../grafx/bg-headline.png");
    color: white;
    margin-bottom : 16px;
	margin-left : -28px; /* this must be -1.40em to fix a Konqueror css issue with this layout */
	margin-right: 0px;
	font-size : 24px;
	line-height:  28px;
}
h1.toc {
	border-top : 2px solid #036;
	border-right : 2px solid #036;
	background-color : #eef;
	margin-left : 0em; /* this must be -1.2em to fix a firefox v2 css issue with this layout */	
	font-size : 24px;
	line-height:  28px;
	text-align : left;
	margin:    0px 0px 20px 0px;
    padding: 0px 24px 0px 72px;
}
h2 {
  background-image: url("../grafx/bg-headline.png");
    color: white;
	margin-bottom : 18px;
	font-size : 20px;
	text-align : left;
	padding: 0px 0px 0px 24px;
}
h3 {
	font-size : 18px;
	text-align : left;
}
h4 {
	font-size : 16px;
	text-align : left;
}
h4.table {
	font-size : 16px;
	text-align : left;
    color : #039;
}
h5 {
	font-size : 14px;
	text-align : left;
}
h6 {
	font-size : 14px;
	text-align : center;
}
/* ------------------- end headline formatting ------------- */ 
/* -------########### 03.2  paragraph formatting ---------- */ 
p {
font : normal normal 14px "Verdana","Bitstream Vera Sans",  "Arial","Helvetica", sans-serif; 
text-align : justify; 
text-indent : 0; 
margin : 16px 16px 16px 0px;
line-height : 16px; 
}   
p.fl {
font : normal normal 14px "Verdana","Bitstream Vera Sans",  "Arial","Helvetica", sans-serif; 
text-align : left; 
text-indent : 0; 
margin : 0px 16px 0px 0px;
line-height : 16px; 
} 
p.flind {
font : normal normal 14px "Verdana","Bitstream Vera Sans",  "Arial","Helvetica", sans-serif; 
text-align : left; 
text-indent : 0; 
margin : 0 14px 0 42px; 
line-height : 16px; 
} 
p.r {
display: block;
float: right;
clear: both;
font : normal normal 14px "Verdana","Bitstream Vera Sans",  "Arial","Helvetica", sans-serif; 
text-indent : 0; 
margin : 0px 72px 0px 0px; 
line-height : 16px; 
} 
/* -------########### 03.3:  preformatted text: CLI etc.-------------- */ 
pre {
font-family : monospace; 
font-size : 12px;
text-align: left;
background-color: #eeeeff;
border:1px solid #888;
line-height : 14px; 	
margin-left : 14px; 
margin-right : 28px; 
margin-top : 8px; 
margin-bottom : 14px;
padding : 14px 14px 14px 28px;
 }
/* -------########### 03.4: text formatting special FX -------------- */ 
span.red {
	color : #aa0000;
	font-weight: normal;
}
span.bred {
	color : #aa0000;
	font-weight: bold;
	}
/* ------------ green for special terms -------------- */ 
a.spterm:link   {
	color : #009900;
	font-weight: bold;
}
a.spterm:visited {
	color : #009900;
	font-weight: bold;
}
.spterm {
	background-color: inherit;
	color: #009900;
	font-weight: bold;
}
/* ------------------- end text formatting special FX -------------- */ 
/* -------########### 03.5:  text column ordered lists -------------- */ 
.textcol > ol li {
font : normal normal 14px "Verdana","Bitstream Vera Sans",  "Arial","Helvetica", sans-serif; 
text-align : left; 
text-indent : 0; 
margin : 0px 14px 0px 14px; 
line-height : 16px; 
}
/* ------------ end text column ordered lists -------------- */ 
/* -------########### 03.6:  text column unordered lists -------------- */ 
.textcol > ul li {
font : normal normal 14px "Verdana","Bitstream Vera Sans",  "Arial","Helvetica", sans-serif; 
text-align : left; 
text-indent : 0; 
margin : 0px 14px 4px 14px; 
line-height : 16px; 
}
/* ------------ end text column unordered lists -------------- */ 
/* -------########### 03.7 text column nested lists -------------- */ 
.textcol > ul li >  ul li {
font-size : inherit;
}
.textcol > ul li >  ol li {
font-size :  inherit;
}
.textcol > ol li >  ol li {
font-size :  inherit;
}
.textcol > ol li >  ul li {
font-size :   inherit;
}
.textcol > ol li > ol li {
list-style-type: lower-roman;
}
/* ------------ end text column nested lists -------------- */ 
/* -------########### 03.8 table formatting  -------------------- */ 
table {
  font : normal normal 14px "Verdana","Bitstream Vera Sans","Arial","Helvetica", sans-serif; 
  text-align : left; 
  text-indent : 0; 
  margin : 0px 0px 0px 0px;
  padding : 0px 0px 0px 0px;
  line-height : 16px;  
}
tr > th {
  font-weight : bold;
  font-size: 18px ;
  line-height:  24px;
  font-family :"Verdana", "Bitstream Vera Sans", "Arial", "Helvetica", sans-serif; 
  margin-top: 0 ; /* this must be 0 to fix a firefox css issue with this layout */
  color:#036;
  margin: 0px 0px 6px 0px;
  padding : 20px 0px 0px 0px;
}
tr > th.medium {
  font-weight : bold;
  font-size: 14px ;
  line-height:  18px;
  font-family :"Verdana", "Bitstream Vera Sans", "Arial", "Helvetica", sans-serif; 
  margin-top: 0 ; /* this must be 0 to fix a firefox css issue with this layout */
  padding: 0px 0px 0px 0px ;
  color:#036;
  text-align: center;
  margin: 0px 0px 6px 0px;
  padding : 20px 5px 0px 5px;
}
table  td {
width : auto;
margin : 0px 0px 0px 0px;
padding : 0px 14px 0px 14px;
text-align : left;
border: thin solid #036;
}
table  td.nobord {
width : auto;
margin : 0px 0px 0px 0px;
padding : 0px 14px 0px 14px;
text-align : left;
border: none;
}
/* ------------ end table formatting-------------- */ 
/* -------########### 03.9: general text link formatting -------------- */ 
a {
text-decoration : none; 
font : normal normal bold 15px "Verdana", "Bitstream Vera Sans", "Arial","Helvetica", sans-serif; 
display : inline;
line-height : 16px; 
color : #069;
background-color: inherit; 
} 
a:link {
text-decoration: none;
border: none;
}
a:link, a:visited {
text-decoration: none;
border: none;
color : #069;
}
a:hover, a:active {
text-decoration: none;
color :#039
}
/* ------- ################# END TEXT COLUMN TEXT FORMATS ################# --------- */ 
/* ------- ################### 04: NAV COLUMN CONTENT FORMATS ###################--------- */ 
/* -------determines style of elements in the navigation column --------- */ 
/* -------############ 04.1:  nav headline formatting  -------------- */ 
div.navcol h1 h2 h3 {
	margin : 0 0 0 0;
	padding : 0 0 0 0;
}
div.navcol h1 {
	margin : 0px 0px 0px 0px;
	padding : 5px 14px 0px 0px;
	border-top : 2px solid #036;
	border-right : 0;
	border-left : 2px solid #699;	
	background-color : transparent;
}
/* ------------------- end nav headline formatting-------------- */ 
/* -------########### 04.2: navigation menu list with hover mechanism -------------- */ 
ul.topmenu {
  list-style-type : none; 
  display : block;
  position : relative;
  width : 180px; /* also controls Ye Trigger Point for Fly-out */
  text-align : left;
  text-decoration : none;
  font-family: "Verdana", "Bitstream Vera Sans", "Arial","Helvetica", sans-serif;
  font-size: 12px; 
  color : Black;
  background-color : transparent;
  border: none;
  margin : 0px 0px 0px 0px;
  padding : 0px 0px 0px 0px;
 }
ul.topmenu li a {
  list-style : none;
  text-decoration : none;
  display : block; 
  position : relative;
  width : 200px;
  margin-left: 8px;
  margin-bottom : 0px;
  background-image: url("../grafx/mli-11.jpg");
  color : white;
  text-align : left;
  font:  normal normal bold 12px  "Verdana", "Bitstream Vera Sans", "Arial","Helvetica", sans-serif; 
  padding : 5px 0px 3px 16px;
  }
ul.topmenu li.c a {
  list-style : none;
  text-decoration : none;
  display : block; 
  position : relative;
  width : 200px;
  margin-left: 8px;
  margin-bottom : 0px;
  background-image: url("../grafx/mli-11.jpg");
  color:white;
  text-align : center;
  font:  normal normal bold 12px  "Verdana", "Bitstream Vera Sans", "Arial","Helvetica", sans-serif; 
  padding : 5px 0px 3px 16px;
}
ul.topmenu li.i  {
  list-style : none;
  text-decoration : none;
  display : block; 
  position : relative;
  width : 200px;
  margin-left: 8px;
  margin-bottom : 0px;
  background-image: url("../grafx/mli-02.jpg");
  color:white;
  text-align : center;
  font:  normal normal bold 12px  "Verdana", "Bitstream Vera Sans", "Arial","Helvetica", sans-serif; 
  padding : 5px 0px 3px 0px;
}
/* ------------ hover topmenu li ------------ */
ul.topmenu li a:hover {
  list-style-type : none;
  text-decoration : none; 
  display : block; 
  position : relative;
  width : 200px;
  text-align : left;
  font:  normal normal bold 12px  "Verdana", "Bitstream Vera Sans", "Arial","Helvetica", sans-serif; 
  background : url("../grafx/mli-1hover.jpg");
  color : #fff;
  padding : 5px 0px 3px 16px;
} 
ul.topmenu li.c a:hover {
  list-style-type : none;
  text-decoration : none; 
  display : block; 
  position : relative;
  width : 200px;
  text-align : center;
  font:  normal normal bold 12px  "Verdana", "Bitstream Vera Sans", "Arial","Helvetica", sans-serif; 
  background : url("../grafx/mli-1hover.jpg");
  color : #fff;
  padding : 5px 0px 3px 16px;
} 
ul.topmenu li.i a:hover {
  list-style-type : none;
  text-decoration : none; 
  display : block; 
  position : relative;
  width : 280px;
  text-align : center;
  font:  normal normal bold 12px  "Verdana", "Bitstream Vera Sans", "Arial","Helvetica", sans-serif; 
  background : url("../grafx/mli-1hover.jpg");
  color : #fff;
  padding : 5px 8px 3px 8px;
} 
ul.topmenu ul {
display : none; 
width : 214px;
}
ul.topmenu li:hover > ul.fly {
  list-style-type : none; 
  display : block;
  position : absolute;
  top : 35px; /* controls vertical placement of top flyout list item */
  left : 220px; /* controls horizontal placement of flyout list items */
  width : 280px;
  text-align : left;
  text-decoration : none;
  font-size : 12px; 
  line-height : 24px;
  margin-top : 6px; 
  color : Black;
  background-color : transparent;
  border: none;
  padding : 0px 0px 0px 0px;
}
ul.topmenu li:hover > ul.fly2 {
  list-style-type : none; 
  display : block;
  position : absolute;
  top : 160px; /* controls vertical placement of top flyout list item */
  left : 220px; /* controls horizontal placement of flyout list items */
  width : 280px;
  text-align : left;
  text-decoration : none;
  font-size : 12px; 
  line-height : 24px;
  margin-top : 6px; 
  color : Black;
  background-color : transparent;
  border: none;
  padding : 0px 0px 0px 0px;
}
/* ---------- class:fly menu list -----------  */
ul.fly {
  list-style-type : none; 
  display : block;
  position : absolute;
  left: 0;
  width : 280px;
  text-align : left;
  text-decoration : none;
  font-size : 12px; 
  line-height : 24px;
  margin-top : 6px; 
  margin-bottom : 0px;
  margin-left: 0px;
  color : White;
  border: none;
  padding : 0 0 0 0;
 }
 ul.fly2 , ul.fly3 {
  list-style-type : none; 
  display : block;
  position : absolute;
  left: 0;
  width : 280px;
  text-align : left;
  text-decoration : none;
  font-size : 12px; 
  line-height : 24px;
  margin-top : 6px; 
  margin-bottom : 0;
  margin-left: 0;
  color : White;
  border: none;
  padding : 0 0 0 0;
 }
ul.fly li a {
  list-style-type : none;
  text-decoration : none;
  display : block; 
  position : relative;
  left: 0;
  width : 280px;
  border-top : 2px solid #033; 
  border-right : 2px solid #036; 
  border-bottom : 1px solid #036; 
  border-left : 2px solid #033;  
  background-color : #069;
  color : White; 
  text-align : left;
  font:  normal normal bold 12px  "Verdana", "Bitstream Vera Sans", "Arial","Helvetica", sans-serif; 
  padding : 5px 0px 3px 16px;
}
ul.fly li.fr a {
  list-style-type : none;
  text-decoration : none;
  display : block; 
  position : relative;
  left: 0;
  width : 280px;
  border-top : 2px solid #dee; 
  border-right : 6px solid #9bb; 
  border-bottom : 1px solid #9bb; 
  border-left : 2px solid #bdf;  
  background-color : #069;
  color : White; 
  text-align : right;
  font:  normal normal bold 12px  "Verdana", "Bitstream Vera Sans", "Arial","Helvetica", sans-serif; 
  padding : 5px 0px 3px 16px;
}
ul.fly2 li a {
  list-style-type : none;
  text-decoration : none;
  display : block; 
  position : relative;
  left: 0;
  width : 280px;
  border-top : 2px solid #033; 
  border-right : 2px solid #036; 
  border-bottom : 1px solid #036; 
  border-left : 2px solid #033;  
  background-color : #069;
  color : White; 
  text-align : left;
  font:  normal normal bold 12px  "Verdana", "Bitstream Vera Sans", "Arial","Helvetica", sans-serif; 
  padding : 5px 0px 3px 16px;
}
ul.fly3 li a {
  list-style-type : none;
  text-decoration : none;
  display : block; 
  position : relative;
  left: 0;
  width : 280px;
  border-top : 2px solid #dee; 
  border-right : 6px solid #9bb; 
  border-bottom : 1px solid #9bb; 
  border-left : 2px solid #bdf;  
  background-color : #069;
  color : White; 
  text-align : left;
  font:  normal normal bold 12px  "Verdana", "Bitstream Vera Sans", "Arial","Helvetica", sans-serif; 
  padding : 5px 0px 3px 16px;
}
ul.fly li a:hover {
  list-style-type : none;
  text-decoration : none; 
  display : block; 
  position : relative;
  width : 280px;
  text-align : left;
  background : url("../grafx/mli-1hover.jpg");
  color : #fff;
  font:  normal normal bold 12px  "Verdana", "Bitstream Vera Sans", "Arial","Helvetica", sans-serif; 
  padding : 5px 0px 3px 16px;
} 
ul.fly2 li a:hover {
  list-style-type : none;
  text-decoration : none; 
  display : block; 
  position : relative;
  width : 280px;
  text-align : left;
  background : url("../grafx/mli-1hover.jpg");
  color : #fff;
  font:  normal normal bold 12px  "Verdana", "Bitstream Vera Sans", "Arial","Helvetica", sans-serif; 
  padding : 5px 0px 3px 16px;
} 
ul.fly3 li a:hover {
  list-style-type : none;
  text-decoration : none; 
  display : block; 
  position : relative;
  width : 280px;
  text-align : left;
  background : url("../grafx/mli-1hover.jpg");
  color : #fff;
  font:  normal normal bold 12px  "Verdana", "Bitstream Vera Sans", "Arial","Helvetica", sans-serif; 
  padding : 5px 0px 3px 16px;
} 
li.fly > p {
margin-top : 0.2em; 
} 
.small {
  font:  normal normal bold 10px  "Verdana", "Bitstream Vera Sans", "Arial","Helvetica", sans-serif; 
  color:#fff;
  margin-left: 10px; 
  width:200px;
} 
/* ------------ end  navigation menu list with hover mechanism -----------  */
/* -------########### 04.3: Navcol text below the menu -------------- */ 
p.navcol {
  list-style-type : none; 
  width : 16em;
  text-align : left;
  text-decoration : none;
  font:  normal normal bold 12px  "Verdana", "Bitstream Vera Sans", "Arial","Helvetica", sans-serif; 
  line-height : 18px;
  color : #99f;
  background-color : transparent;
  border: none;
  margin : 0px 0px 0px 0px;
  padding : 0px 0px 0px 0px;
}
p.navcol2 {
  list-style-type : none; 
  width : 17em;
  text-align : left;
  text-decoration : none;
  font:  normal normal bold 12px  "Verdana", "Bitstream Vera Sans", "Arial","Helvetica", sans-serif; 
  line-height : 18px;
  color : #ccc;
  background-color : #0e3a62;
  border: 2px solid #fff;
  margin : 0px 0px 0px -15px;
  padding : 3px;
}
.navcol2 > a:link , .navcol2 > a:visited  , .navcol2 > a:active {
	color : #ccc;
	font-weight: bold;
}
.navcol2 > a:hover {
	color : #fff;
	font-weight: bold;
}
/* ------------ end navcol text after the menu -------------- */ 
/* ------------------- END NAV COLUMN TEXT FORMATS -------------------- */ 
/* ------- ################### 05: TEXT COLUMN MISC. FORMATS ################### --------- */
/* ------- these styles will override previous elements in Section #03 --------- */  
/* ------------ 05.1:  general image formatting-------------- */ 
img {
	border:none;
	margin :0px 0px 0px 0px;
	padding : 0em 0em 0em 0em;
}
/* -------########### 05.2 general link formatting-------------- */ 
p a {
  text-decoration : none; 
  font: normal normal bold 1.00em "Verdana", "Bitstream Vera Sans", "Arial", "Helvetica", sans-serif;
  color : #069;
  background-color: inherit; 
} 
p a:link {
  text-decoration: none;
  color : #069;
  border: none;
}
p a:link, a:visited {
  color : #069;
  text-decoration: none;
  border: none;
}
.fl a:link, a:visited {
  color : #069;
  text-decoration: none;
  border: none;
}
p a:hover, a:active {
  text-decoration: none;
  color :#0066cc
}
/* -------########### 05.3:  Misc class formatting -------------- */ 
span.right {
  text-align : right;
}
.screen {
	background-color: #eeeeff;
}
.bcolor {
text-decoration : none; 
font : normal normal bold 15px "Verdana", "Bitstream Vera Sans", "Arial","Helvetica", sans-serif; 
display : inline;
line-height : 16px; 
color : #036;
background-color: inherit; 
} 
/* ------------------ end misc class formatting -------------- */  
/* -------########### 05.4: Misc. Link formatting --------- */ 
a:hover, a:active {
text-decoration: none;
color :#039
}
.navcol > a:link , .navcol > a:visited  , .navcol > a:active {
	color : #006699;
	font-weight: bold;
}
.navcol > a:hover {
	color : #9999ff;
	font-weight: bold;
}
/* ------- *********** END TEXT COLUMN MISC. FORMATS *********** --------- */ 
/* ------- ################### 06: TEXT COLUMN NAVIGATION FOOTER ################### ------- */
div.navLeft {
display: inline;
position: absolute; 
left: 19em;
}
div.navRight {
display: inline;
position: absolute; 
right: 4em;
}
div.navCenter {
width : 100%;
text-align: center;
display: inline;
}
div.version {
display: block;
position: relative; 
padding: 30px 16px 16px 570px;
background-color:inherit;
color: #660066;
font-family: "Verdana", "Bitstream Vera Sans", "Arial","Helvetica", sans-serif;
font-size: 80%; 
text-align: left;
}
/* ------- ################# END TEXT COLUMN NAVIGATION FOOTER ################# --------- */ 
/* GNU GENERAL PUBLIC LICENSE information:
    m8-02-2.css
    Copyright (C) 2009 John G. Boice [aka "SilverBear"]
    
    This notice refers to this document "m8-02-2.css" only, and not
    to any other content on this CD-ROM or on this website.

    This program is free software: you can redistribute it and/or 
    modify it under the terms of the GNU General Public License 
    as published by the Free Software Foundation, either version 3 
    of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

 Contact: silverbear at sblinux dot org
 */
 
